<% if user_signed_in? %>
    <% category = current_user.categories.where(name: "uncategorized").first%>
      <div class="btn btn-default"> <%= link_to 'New preference', new_user_preference_path(current_user, category, Preference.new) %>
      </div><br>
      <div class="btn btn-default"> <%= link_to 'New category', new_user_category_path(current_user, Category.new) %>
      </div>
<% end %>
<div class="line"></div>
<% if user_signed_in? %>
  <%= render 'categories/category' %><br>
  <%= render 'preferences/preference' %>

<% end %>


