<% @preferences.each do |preference| %>
    <div class="preference">
      <%= preference.category.name %><br>
      <h4><i><%= preference.item.name %></i></h4>
      <p><strong>Brand </strong>//<br>


      <strong>Comments</strong> // <%= preference.comment %></p>
<div class="pull-right"><h4><%= preference.score %> <span class="glyphicon glyphicon-star"></span></h4></div>
</div>

  <% end %>
