

 body {
  padding-top: 20px;
}
.accent {
  background-color: #2980b9;

}

.rec_app {
  background-color: #ecf0f1;
  z-index: -1;
}

.accent a {
  color: white;
}
.accent a:hover {
  color: white;
  text-decoration: none;
}
.left-triangle {
background-color: #ecf0f1;


  height: 0;
  width: 0;

  border-top: 200px solid #2980b9;
  border-right: 2000px solid transparent;




}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
= require_tree .
= require_self
 */
