

.bogus-style {
  background-color: #fff;
}

.accent {
  background-color: #2980b9;

}
body {
  padding-top: 70px;
  background-color: #2980b9;
}
.white-banner {
  background-color: #ecf0f1;
  color: #bdc3c7;
  line-height: 1.55em;
  padding-top: 10px;
  padding-left: 10px;
  margin: 15px 0px 0px 5px;
}

/*big buttons*/
.button {
  color: #fff;
  padding: 0px 22px;
  background-color: #ecf0f1;
  display: inline-block;
  margin: 15px 0px 0px 5px;
  width: 135px;
  height: 70px;
  letter-spacing: 0.0325em;

}
.button a {
  text-decoration: none;
  color: #bdc3c7;
}

.button a:hover {
    color: #2980b9;
    text-decoration: none;
}

/*category buttons*/
.category {
  color: #fff;
  padding: 5px 22px;
  background-color: #737495;
  display: inline-block;
  margin: 15px 0px 0px 5px;
  min-width: 100px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.0325em;

}
.category a {
  text-decoration: none;
  color: #bdc3c7;
}

.category a:hover {
    color: #ecf0f1;
    text-decoration: none;
}

/*category edit buttons*/
.edit {
  color: #fff;
  padding: 5px 22px;
  background-color: #ecf0f1;
  display: inline-block;
  margin: 15px 0px 0px 5px;
  min-width: 50px;
  height: 30px;
  text-align: center;
}
.edit a {
  text-decoration: none;
  color: #bdc3c7;
}

.edit a:hover {
    color: #7f8c8d;
    text-decoration: none;
}
.home-spacer {
  height: 150px;
  background-color: #bdc3c7;

}
.home-spacer2 {
  height: 05px;
  background-color: #bdc3c7;

}
.rec_app {
  background-color: #bdc3c7;
}
.line {
  top: 160px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #f1c40f;
  z-index: 2;
}

.title {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.accent a {
  color: white;
}

.accent a:hover {
  color: white;
  text-decoration: none;
}

.preference {
  width: 250px;
  margin: 10px;
  display: inline-block;
}

.left-triangle {
  height: 0;
  width: 100%;
  border-top: 452px solid #2980b9;
  border-right: 1100px solid transparent;
}

.footer {
  background-color: #bdc3c7;
  border-bottom: 450px solid #ecf0f1;
  height: 0;
  width: 100%;
  border-left: 1100px solid transparent;
  margin-bottom: -5px;
}
.sub-footer {
  background-color: #2980b9;
  height: 100px;
  margin-top: -5px;
  color: #fff;
  padding: 40px;

}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
= require_tree .
= require_self
 */
