<% flash.each do |name, msg| %>
  <div class="alert alert-danger" role="alert">
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>
  </div>
<% end %>
